<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="MessageServiceSoap" />
                <binding name="MessageServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10322/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:802/MessageService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MessageServiceSoap"
                contract="ServiceReference2.MessageServiceSoap" name="MessageServiceSoap" />
            <endpoint address="http://a.langben.com/MessageService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MessageServiceSoap1"
                contract="ServiceReference3.MessageServiceSoap" name="MessageServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>