﻿body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, button, input, select, textarea {
    font: 12px Arial,Helvetica,sans-serif;
    color: #333;
}

input, select, textarea {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

    a:hover {
        text-decoration: none;
        color: #E60012;
    }

    a.blue_link {
        color: #06c;
    }

        a.blue_link:hover {
            color: #f60;
        }

.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.clearfix {
    *zoom: 1;
}

img {
    border: 0 none;
    vertical-align: top;
}

em {
    font-style: normal;
}

button::-moz-focus-inner {
    padding: 0;
    border: none;
}

.wrap {
    width: 980px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mt {
    margin-top: 10px;
}

.ml {
    margin-left: 10px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb {
    margin-bottom: 10px;
}

.none {
    display: none;
}

body {
    background: #FAFAFA;
}

.regist_header {
    padding: 16px;
    background: #FFF;
}

    .regist_header .logo {
        display: block;
        float: left;
        width: 54px;
        height: 48px;
    }

.regist_header_right {
    float: right;
    line-height: 18px;
    font-family: "SimSun";
    color: #999;
}

    .regist_header_right .help_wrap {
        position: relative;
        z-index: 1010;
        float: right;
        padding: 0 6px;
        margin-left: 25px;
        _display: inline;
    }
        .regist_header_right .help_wrap a.hd_menu {
            padding-right: 18px;
            background: url(../images/login.png) no-repeat right -30px;
            color: #333;
        }

            .regist_header_right .help_wrap a.hd_menu .help_ico {
                width: 16px;
                height: 18px;
                display: inline-block;
                margin-right: 6px;
                background: url(../images/login.png) no-repeat -344px 0;
                vertical-align: middle;
            }
             

.login_wrap {
    padding: 26px 0 0;
    background: #fafafa url(../images/regist_topshadow.png) repeat-x;
}

.mod_login_wrap {
    _display: inline;
    float: right;
    width: 500px;
    margin: 0 50px 0 0;
}

    .mod_login_wrap h3 {
        float: left;
        _display: inline;
        width: 106px;
        height: 28px;
        margin: 0 0 0 159px;
        padding-bottom: 12px;
        background: url(../images/login.png) no-repeat -332px -50px;
        padding-left: 40px;
        font-family: "Microsoft YaHei";
        font-size: 16px;
        font-weight: bold;
        line-height: 28px;
        color: #666;
    }

    .mod_login_wrap .regist_new {
        float: right;
        _display: inline;
        margin-right: 15px;
        line-height: 28px;
    }

    .mod_login_wrap .login_form {
        position: relative;
        padding: 50px 33px 18px;
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        background: #fff;
    }

        .mod_login_wrap .login_form .arraow {
            position: absolute;
            left: 50%;
            top: -11px;
            _top: -10px;
            width: 19px;
            height: 11px;
            overflow: hidden;
            margin-left: -10px;
            _margin-left: -43px;
            background: url(../images/login.png) no-repeat 0 0;
        }

        .mod_login_wrap .login_form .error_tips {
            position: absolute;
            top: 9px;
            left: 74px;
            _left: 41px;
            width: 302px;
            height: 30px;
            overflow: hidden;
            padding: 0 10px 0 36px;
            border: 1px solid #e5debc;
            border-radius: 2px;
            background: #fff7d1 url(../images/login.png) no-repeat -324px -150px;
            line-height: 30px;
            color: #999;
        }

    .mod_login_wrap .form_item_wrap {
        width: 350px;
        margin: 0 auto;
    }

        .mod_login_wrap .form_item_wrap .form_item {
            position: relative;
            z-index: 100;
            height: 24px;
            margin-bottom: -1px;
            padding: 14px 18px;
            border: 1px solid #dedede;
            background: #FFF;
            line-height: 24px;
        }

            .mod_login_wrap .form_item_wrap .form_item label {
                display: inline-block;
                width: 42px;
                vertical-align: middle;
                color: #666;
            }

            .mod_login_wrap .form_item_wrap .form_item .user_ico {
                background: url(../images/login.png) no-repeat -50px 4px;
            }

            .mod_login_wrap .form_item_wrap .form_item .paswd_ico {
                background: url(../images/login.png) no-repeat -150px 4px;
            }

            .mod_login_wrap .form_item_wrap .form_item .ipt {
                width: 230px;
                height: 24px;
                padding-left: 3px;
                border: 0 none;
                line-height: 24px;
                vertical-align: middle;
                font-family: "Microsoft YaHei";
                font-size: 14px;
            }

            .mod_login_wrap .form_item_wrap .form_item .gay_text {
                color: #ccc;
            }

            .mod_login_wrap .form_item_wrap .form_item a.forget_pswd {
                position: absolute;
                bottom: -40px;
                right: 0;
                height: 40px;
                line-height: 40px;
                color: #999;
            }

                .mod_login_wrap .form_item_wrap .form_item a.forget_pswd:hover {
                    color: #e60012;
                }

        .mod_login_wrap .form_item_wrap .auto_login {
            height: 20px;
            padding: 10px 0;
        }

        .mod_login_wrap .form_item_wrap a.check_agreement {
            padding-left: 18px;
            background: url(../images/login.png) no-repeat -347px -329px;
            color: #999;
            line-height: 20px;
        }

        .mod_login_wrap .form_item_wrap a.uncheck_agreement {
            padding-left: 18px;
            background: url(../images/login.png) no-repeat -347px -269px;
            color: #999;
            line-height: 20px;
        }

            .mod_login_wrap .form_item_wrap a.uncheck_agreement:hover {
                background-position: -347px -299px;
                color: #999;
            }

        .mod_login_wrap .form_item_wrap .login_btn {
            margin-top: 5px;
            width: 351px;
            height: 45px;
            border: 0 none;
            background: url(../images/login.png) no-repeat 0 -90px;
            font-size: 16px;
            color: #FFF;
            cursor: pointer;
            text-shadow: 1px 1px 1px #ff7373;
            font-family: "Microsoft YaHei";
        }

        .mod_login_wrap .form_item_wrap .cur {
            z-index: 101;
            border: 1px solid #AAA;
        }

        .mod_login_wrap .form_item_wrap .cur_error {
            z-index: 101;
            border: 1px solid #FF4646;
        }



.mod_left_banner {
    width: 400px;
    height: 300px;
    padding-top: 43px;
    float: left;
}

    .mod_left_banner img {
        width: 400px;
        height: 300px;
    }

.mod_landing_fail {
    width: 350px;
    height: 172px;
    margin: 40px auto;
    background: url(../images/landing_fail.jpg) no-repeat;
}

#simplefooter {
    width: 980px;
    margin: 20px auto 0;
    text-align: center;
}

    #simplefooter p {
        margin-top: 10px;
        color: #666;
    }

    #simplefooter a {
        margin: 0 8px;
        color: #666;
    }

        #simplefooter a:hover {
            color: #c00;
        }


.login_entry_css .login_entry {
    padding: 0 41px;
    margin-top: 20px;
    background: url(../images/login_repeat_line.png) repeat-x;
}

    .login_entry_css .login_entry p {
        padding: 20px 0 15px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        font-family: "Microsoft YaHei";
    }

    .login_entry_css .login_entry .account_more {
        margin-bottom: 15px;
        line-height: 16px;
        cursor: pointer;
        color: #999;
    }
