@{
    ViewBag.Title = "找回密码";
}
@{
    Layout = "~/Views/Shared/_LayoutWai.cshtml";
}

<div class="regist_wrap nobg_wrap">
    <div class="wrap">
        <div class="find_password_wrap">
            <ul class="clearfix">
                 <li class="first done">
                    <u></u><u></u><b>1</b>填写账户名
                </li>
                <li class="cur">
                    <u></u><b>2</b>验证身份
                </li>
                <li class="">
                    <u></u><b>3</b>设置新密码
                </li>
                <li class="last">
                    <b>4</b>完成
                </li>
            </ul>
        </div>
        <div class="phone_verifica_wrap">
            <h2 id="text_change">
                请点击获取验证码并在手机：<span>@ViewBag.Phone</span> 中查看短信，并填写验证码
            </h2>
            <div class="regist_form phone_verifica_form">
                <ul class="clearfix">
                    <!--取得焦点的时候给li加class:cur,错误的时候给li加class：cur_error,正确的时候给li加class：cur_right -->
                    <li class="clearfix cur_error">
                        <div class="form_item">
                            <label>验证码：</label>
                            <input class="ipt gay_text ipt_code" onfocus="    phoneOnFocusVcd('validPhoneCode')" id="validPhoneCode" onkeydown="    showoff('validPhoneCode_wrong');" type="text" maxlength="6" value="验证码" />
                            <span class="code_right" id="validPhoneCode_right"></span><span class="code_wrong" id="validPhoneCode_wrong" style="display: none;"></span>
                        </div>
                        <a class="receive_code" href="javascript:">获取6位验证码</a>
                    </li>
                    <li class="regist_btn">
                        <button onclick="javascript:updatePwdPage();" type="submit">下一步</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
 
<script type="text/javascript">
    $(function () {
        $(".phone_verifica_form").delegate(".receive_code", "click", function () {

            if ($(".receive_code").hasClass("reacquire_code")) {
                return false
            }
            $.ajax({
                type: "POST",
                url:"/"+ $("#BiaoShi").val() + "/Passport/SendMobileCheckCode/",
                async: false,
                success: function (d) {
                    if (d) {
                        if (0 == d.errorCode) {
                            alert("验证码已发送至您的手机！");

                            $("#text_change").html("短信验证码已发送至手机,请填写验证码");
                            return
                        }
                        else {
                            if (1 == d.errorCode) {
                                alert("每天只有5次获取验证码的机会");
                                return
                            }
                            if (2 == d.errorCode) {
                                alert("已过期，请重新找回");
                                window.location = "/" + +$("#BiaoShi").val() + "/Passport/";
                                return
                            }
                            if (d.errorCode == "15") {
                                alert("抱歉，您的账号已经使用找回密码超过5次，请联系管理员");
                                return
                            }
                        }
                    }
                }
            });
            $(this).addClass("reacquire_code").html("重新获取验证码(<i>259</i>)");
            var d = $("i", ".reacquire_code").text();
            var e = setInterval(function () { if (d > 0) { d--; $("i", ".reacquire_code").text(d) } }, 1000);
            var f = setTimeout(function () { $(".receive_code", ".phone_verifica_form").removeClass("reacquire_code").html("重新获取验证码") }, d * 1000);
            return false
        })
    })


</script>

