@{
    ViewBag.Title = "找回密码";
}@{
    Layout = "~/Views/Shared/_LayoutWai.cshtml";
}

<div class="regist_wrap nobg_wrap">
    <div class="wrap">
        <div class="find_password_wrap">
            <ul class="clearfix">
                <!--当前的样式是“cur”，当前的前一个样式加“done”,当前的前一个的所有前面的加样式“finished” -->
                <li class="first finished">
                    <i></i><u></u><b>1</b>填写账户名
                </li>
                <li class="done">
                    <i></i><b>2</b>验证身份
                </li>
                <li class="cur">
                    <i></i><b>3</b>设置新密码
                </li>
                <li class="last">
                    <b>4</b>完成
                </li>
            </ul>
        </div>
        <div class="regist_form fill_name">
            
                <input name="findPwdState" id="findPwdState" type="hidden" value="fad3bd12c655d17a0b284db40f84ac84" />
                <ul class="clearfix">
                    <li>
                        <div class="form_item">
                            <label>设置密码：</label>
                            <input type="text" value="6-20个大小写英文字母、符号或数字" name="pwd" class="ipt gay_text" />
                            <input type="password" onfocus="passwordOnFocus('password_mobile');" onblur="checkPasswordOnBlur('password_mobile');" onpaste="return false;" oncut="return false;" oncopy="return false;" name="user.password" id="password_mobile" class="ipt password none" />
                        </div>
                        <div id="password_mobile_tip" class="tips_box regist_tips">
                            <u></u>
                            请填写6-20个大小写英文字母、符号或数字。
                        </div>

                        <div id="password_mobile_error" class="tips_box regist_tips_error">
                        </div>
                        <div id="password_mobile_desc" class="tips_box username_ok"></div>


                    </li>
                    <li>
                        <div class="form_item">
                            <label>确认密码：</label>
                            <input type="text" value="请再次输入密码" name="pwd" class="ipt gay_text" />
                            <input type="password" onkeyup="showoff('password_mobile2_desc');showoff('password_mobile2_error')" onfocus="hideOtherTips('password_mobile2')" onpaste="return false;" oncut="return false;" oncopy="return false;" onblur="checkPassword2OnBlur('password_mobile');" name="password2" id="password_mobile2" class="ipt password none" readonly="readonly" style="background-color: rgb(192, 193, 196);" />
                            <div id="password_mobile2_tip" class="tips_box regist_tips">
                                <u></u>
                                请再次输入密码。
                            </div>
                            <div id="password_mobile2_error" class="tips_box regist_tips_error">
                            </div>
                            <div id="password_mobile2_desc" class="tips_box username_ok"></div>
                        </div>
                    </li>
                    <li class="regist_btn">
                        <button onclick="javascript: updatePwdSubmit();" type="submit">下一步</button>
                        
                    </li>
                </ul>
                 
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".form_item").delegate("input[name='pwd']", "click", function () {
            $(this).hide().next("input[type='password']").show().focus();
            $(this).parents("li").removeClass("cur_error").addClass("cur")
        });
        $("input[name='pwd']").focus(function () {
            $(this).hide().next("input[type='password']").show().focus();
            $(this).parents("li").removeClass("cur_error").addClass("cur")
        });
        $(".form_item").delegate("input[type='password']", "blur", function () {
            var a = $(this).val();
            if (!a) {
                $(this).hide().prev("input[type='text']").show()
            }
            $(this).parents("li").removeClass("cur")
        });
    })


</script>

