@{
    ViewBag.Title = "找回密码";
}@{
    Layout = "~/Views/Shared/_LayoutWai.cshtml";
}
<div class="regist_wrap nobg_wrap">
    <div class="wrap">
        <div class="find_password_wrap">
            <ul class="clearfix">
                 <li class="first finished">
                    <i></i><u></u>
                    <b>1</b>填写账户名
                </li>
                <li class="finished">
                    <i></i>
                    <b>2</b>验证身份
                </li>
                <li class="done">
                    <i></i>
                    <b>3</b>设置新密码
                </li>
                <li class="last cur">
                    <b>4</b>完成
                </li>
            </ul>
        </div>
        <!--找回密码步骤 end -->
        <div class="password_finished">
            <h2><i></i>新密码设置成功！</h2>
            <p>请您牢记新密码</p>
            <div class="clearfix">
                <a class="go_shopping" href="/Account">重新登录</a>
                <a class="go_mystore" href="/Apply/List">我的维修单</a>
            </div>
        </div>
    </div>
</div>
 
