@{
    ViewBag.Title = "申请成功";
}
<div class="regist_wrap nobg_wrap">
    <div class="wrap">
        <div class="find_password_wrap">
            <ul class="clearfix">
                <li class="first done">
                    <i></i><u></u>
                    <b>1</b>维修申请
                </li>
                <li class="cur">
                    <i></i>
                    <b>2</b>提交成功
                </li>
                <li class="">
                    <i></i>
                    <b>3</b>客户评语
                </li>
                <li class="last">
                    <b>4</b>维护结束
                </li>
            </ul>
        </div>
         
        <div class="password_finished">
            <h2><i></i>申请提交成功！</h2>
            <p>请耐心等待。</p>
            <div class="clearfix">
                <a class="go_shopping" href="/Apply">继续申请</a>
                <a class="go_mystore" href="/Apply/List">我的维修单</a>
            </div>
        </div>
    </div>
</div>
 
